.pricing-plans{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pricing-plans div:hover {
    transform: scale(1.1);
}

.cards--button{
    padding: 1vw 3vw;
    color: #673AB7;
    font-weight: bold;
    outline: 0;
}


